<div id="snoAlertBox" class="alert alert-success hidden" data-alert="alert"></div>
<script>
    function AlertSuccess(message) {
        console.log(`success: ${message}`);
        $("#snoAlertBox").removeClass('alert-danger').addClass('alert-success');
        $("#snoAlertBox").text(message);
        $("#snoAlertBox").fadeIn();
        window.setTimeout(function () {
            $("#snoAlertBox").fadeOut(300)
        }, 5000);
    }
    function AlertError(message) {
        console.log(`error: ${message}`);
        $("#snoAlertBox").removeClass('alert-success').addClass('alert-danger');
        $("#snoAlertBox").text(message);
        $("#snoAlertBox").fadeIn();
        window.setTimeout(function () {
            $("#snoAlertBox").fadeOut(300)
        }, 5000);
    }
</script>