
<div class="filtrer">
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <div class="form-group">
                <label for="sltGroup" class="control-label" style="">Groupe :</label>
                <select id="sltGroup" class="form-control input-sm">
                    <option value="">Todo</option>
                    <option value="1">Group 1</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <label for="dateMin" class="control-label">Date de :</label>
                <input type="text" id="dateMin" placeholder="dd/mm/yyyy" value="" class="form-control input-sm dateFrom" autocomplete="off" />
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <label for="dateMax" class="control-label">Date à :</label>
                <input type="text" id="dateMax" placeholder="dd/mm/yyyy" value="" class="form-control input-sm dateTo dateToday" autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <div class="form-group">
                <br />
                <button type="button" id="btnFilterPostsToBuy" class="btn btn-purple pull-right form-control">Filtrer</button>
            </div>
        </div>
    </div>
</div>