
<div id="modalPlaning" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="nowrap filtrer" id="PlaningDiv">
                    <input type="hidden" id="txtIdPost" />
                    <table class="table table-bordered table-responsive table-hover" id="tablePlaning">
                        <thead id="theaddashboard">
                            <tr class="thdashboard">
                                <th class="alignCenter" data-priority="1"></th>
                                <th class="alignCenter" data-priority="1">Utilisateur</th>
                                <th class="alignCenter" data-priority="1">Date Planifié</th>
                                <th class="alignCenter" data-priority="1">Date limité</th>
                                <th class="alignCenter" data-priority="2">Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default col-md-2 pull-right myclose" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-success col-md-4 pull-right" id="idBtnSend">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</div>
