

<div style="padding-top:20px" id="modalConfirmarProcesar" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:10px !important">
            <div class="modal-content" style="border-radius:10px !important">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 style="font-weight:bold" class="modal-title">Procesar asientos</h4>
                </div>
                <div style="background-color: whitesmoke;min-height:100px" class="modal-body text-center" id="divMessage">
                    <p> Confirmar procesar asientos.<br /> cinco asientos serán procesados !!</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="idAction" value="" />
                    <button type="button" class="btn btn-default col-lg-2 pull-right" data-dismiss="modal">Close</button>
                    <input type="button" id="idButtonProcesar" value="Procesar" class="btn btn-purple col-lg-3 pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>
