

<div style="padding-top:20px" id="modalAlta" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:10px !important">
            <div class="modal-content" style="border-radius:10px !important">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 style="font-weight:bold" class="modal-title">Procesar Alta</h4>
                </div>
                <div style="background-color: whitesmoke;min-height:200px" class="modal-body text-center">
                    <p> Registro preparado para procesar.<br/> Cuando haya terminado de dar de alta registros, recuerde ir a la opción registros a procesar para enviarlos a la agencia tributaria</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-lg-2 pull-right" data-dismiss="modal">Close</button>
                    <input type="button" id="idButtonTerminar" value="Terminar" class="btn btn-purple col-lg-3 pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>