@model Commerce.Amazon.Domain.Models.ProfileModel

<div class="profile clearfix">
    <div class="profile_pic">
        <img src="@Model.LogoCompany" alt="@Model.LogoCompany" class="img-circle profile_img">
    </div>
    <div class="profile_info">
        @*<span>Bienvenido,</span>*@
        <h2>@Model.CompanyName</h2>
        <br />
        <h2>@Model.IdUser</h2>
    </div>
</div>