
@{
    ViewData["Title"] = "accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>accueil</h2>


<div class="nowrap filtrer" id="UsuariossDiv">

    <div class="row">

        <div class="col-xs-2">
            <label for="exampleInputName2">ID</label>
            <input type="text" class="form-control" placeholder="ID:0000145" disabled>
        </div>

        <div class="col-xs-3">
            <label for="exampleInputName2">Email</label>
            <input type="text" class="form-control" placeholder="Omar-78@outlook.com" disabled>
        </div>

        <div class="col-xs-4">
            <label for="exampleInputName2">UserID</label>
            <input type="text" class="form-control" placeholder="UserID">
        </div>
        <div class="col-lg-12">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
        </div>
        <div class="col-lg-12">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
        </div>
        <div class="col-lg-12">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
        </div>
    </div>

</div>
