
@{
    ViewData["Title"] = "Groupes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="filtrer">
    <form id="formGroup" onsubmit="return false;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name">Groupe :</label>
                    <div class="control-label ">
                        <input id="Name" name="Name" type="text" class="form-control input-sm" />
                        <input id="Id" name="Id" type="hidden" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="MaxDays">Durée de post (jours) :</label>
                    <div class="control-label ">
                        <input id="MaxDays" name="MaxDays" type="text" class="form-control input-sm" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CountNotifyPerDay">Maximum de notifications par jour :</label>
                    <div class="control-label ">
                        <input id="CountNotifyPerDay" name="CountNotifyPerDay" type="text" class="form-control input-sm" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CountUsersCanNotify">Nombre d'utilisateurs peut envoyer :</label>
                    <div class="control-label ">
                        <input id="CountUsersCanNotify" name="CountUsersCanNotify" type="text" class="form-control input-sm" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        <label><input id="State" name="State" type="checkbox"> Status : </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-danger" id="errorMsgDiv"></div>
        <div class="form-group">
            <button class="btn btn-success form-control" id="idBtnSaveGroup">Enrgistrer</button>
        </div>
    </form>
</div>

<h2>Liste des groupes</h2>
<div class="nowrap filtrer" id="GroupesDiv">
    <table class="table table-bordered table-responsive table-hover" id="tableGroupes">
        <thead id="theaddashboard">
            <tr class="thdashboard">
                <th class="alignCenter" data-priority="1">Id</th>
                <th class="alignCenter" data-priority="3">Groupe</th>
                <th class="alignCenter" data-priority="2">Utilisateurs</th>
                <th class="alignCenter" data-priority="6">Duree de poste</th>
                <th class="alignCenter" data-priority="6">Envoi par jour</th>
                <th class="alignCenter" data-priority="7">Nombre envoi</th>
                <th class="alignCenter" data-priority="7">Active</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@Html.Partial("Modals/Alert")
@section Scripts {
    <script src="~/js/Internal/admin.js"></script>
    <script src="~/js/jquery.validate-vsdoc.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script>
        commerce.amazon.web.admin.InitGroups();
    </script>
}
