
@{
    ViewData["Title"] = "PosteProduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PosteProduit</h2>

<div class="nowrap filtrer" id="UsuariossDiv">
    <table class="table table-bordered table-responsive table-hover" id="tablePosts">
        <thead id="theaddashboard">
            <tr class="thdashboard">
                <th class="alignCenter" data-priority="1">Id</th>
                <th class="alignCenter" data-priority="1">Url</th>
                <th class="alignCenter" data-priority="1">Nom</th>
                <th class="alignCenter" data-priority="1">Prenom</th>
                <th class="alignCenter" data-priority="1">Prix</th>
                <th class="alignCenter" data-priority="1">Email</th>
                <th class="alignCenter" data-priority="1">UserId</th>
                <th class="alignCenter" data-priority="1">Total Produit</th>
                <th class="alignCenter" data-priority="1">Valide</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>