
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Profile</h2>
<div class="nowrap filtrer" id="UsuariossDiv">
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label for="UserID">ID</label>
                <input type="text" id="UserID" class="form-control" placeholder="ID:0000145" value="@ViewBag.Profile.UserId" disabled>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" class="form-control" placeholder="Omar-78@outlook.com" value="@ViewBag.Profile.Email">
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <label for="Nom">Nom et prénom</label>
                <input type="email" class="form-control" id="Nom" placeholder="jane.doe@example.com" value="@ViewBag.Profile.FullName">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12 hidden">
                <label for="Prenom">Prenom</label>
                <input type="text" class="form-control" id="Prenom" placeholder="" value="@ViewBag.Profile.FullName">
            </div>
        </div>
    </div>
</div>
