
@{
    ViewData["Title"] = "AcheterProduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acheter Produit</h2>
<div class="filtrer">
    <form id="formAchat" onsubmit="return false;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Url">Url :</label>
                    <input id="idPost" type="hidden" />
                    <div class="control-label ">
                        <input id="Url" name="Url" type="text" class="form-control input-sm" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description">Description :</label>
                    <div class="control-label ">
                        <input id="Description" name="Description" type="text" class="form-control input-sm" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Prix">Prix :</label>
                    <div class="control-label ">
                        <input id="Prix" name="Prix" type="text" class="form-control input-sm" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Date">Date :</label>
                    <div class="control-label ">
                        <input id="Date" name="Date" type="text" class="form-control input-sm" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="screen-comment">Upload Screen Commentaire :</label>
                    <div class="control-label ">
                        <input id="screen-comment" name="comment" type="file" class="form-control input-sm" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Comment">Commentaire :</label>
                    <div class="control-label ">
                        <textarea id="Comment" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success form-control" id="idBtnComment">Envoyer</button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/Internal/operations.js"></script>