
@{
    ViewData["Title"] = "Detail Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Detail Post</h2>
<div class="filtrer">
    <form id="formAchat" onsubmit="return false;">
        <div class="form-group">
            <label for="Url">Url : </label><a href="" id="Url" target="_blank"></a>
            <input id="idPost" type="hidden" />
            @*<div class="control-label ">
                    <input id="Url" name="Url" type="text" class="form-control input-sm" disabled />
                </div>*@
        </div>
        <div class="form-group">
            <label for="Description">Description :</label>
            <div class="control-label ">
                <input id="Description" name="Description" type="text" class="form-control input-sm" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="Prix">Prix :</label>
            <div class="control-label ">
                <input id="Prix" name="Prix" type="text" class="form-control input-sm" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="DateNotified">Date envoyé:</label>
            <div class="control-label ">
                <input id="DateNotified" name="DateNotified" type="text" class="form-control input-sm" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="DateComment" class="control-label">Date commentaire:</label>
            <div class="">
                <input id="DateComment" name="DateComment" type="text" class="form-control input-sm" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="idComment">Commentaire :</label>
            <div>
                <textarea id="idComment" class="form-control" rows="3"></textarea>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.Image))
        {
            <div class="form-group">
                <div class="col-md-6 pull-right">
                    <img src="@Url.Content(ViewBag.Image)" alt="" id="idImgScreen" style="height: 400px;margin-bottom: 10px;" />
                </div>
            </div>
        }
    </form>
</div>
@section Scripts {
    <script src="~/js/Internal/user.js"></script>
    <script>
        commerce.amazon.web.user.InitDetailPost();
    </script>
}