
@{
    ViewData["Title"] = "Posts achetés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts achetés</h2>
@Html.Partial("Modals/FilterPostsPurchased")
<div class="nowrap filtrer" id="divPostsPurchased">
    <table class="table table-bordered table-responsive table-hover" id="tablePostsPurchased">
        <thead id="theaddashboard">
            <tr class="thdashboard">
                <th class="alignCenter" data-priority="1">Id</th>
                <th class="alignCenter" data-priority="1">Url</th>
                <th class="alignCenter" data-priority="1">Description</th>
                <th class="alignCenter" data-priority="1">Prix</th>
                <th class="alignCenter" data-priority="1"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/Internal/user.js"></script>
    <script>
        commerce.amazon.web.user.InitPostsPurchased();
    </script>
}