
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    a{
        color:#337ab7;
        text-decoration:underline;
    }
    a:hover{
        text-decoration:underline;
    }
</style>
<div class="form-horizontal">
    <p>Tu contraseña ha sido actualizada con éxito. Haz clic <a id="login" href="/Account/Login">aquí</a> para iniciar la sesión.</p>
</div>


