
@{
    ViewData["Title"] = "Réinitialiser du mot de passe";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    a{
        color:#337ab7;
        text-decoration:underline;
    }
    a:hover{
        text-decoration:underline;
    }
</style>
<div class="form-horizontal">
    <p>Votre mot de passe a été mis à jour avec succès. Cliquez sur <a id="login" href="/Account/Login">ici</a> pour démarrer la session.</p>
</div>


